body{
    margin: 0;
    background-color: aliceblue;
}
h1, h2{
    font-family: sans-serif;
    font-weight: bold;
}
h1{
    font-size: 40px;
    color: white;
}
h2{
    font-size: 30px;
    color: cadetblue;
}
header{
    background-image: url("./sierra1.jpg");
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
section{
    height: 90vh;
    padding: 30px;
    display: flex;
    align-items: center;
}
.section1{

}
.contentWrapper{
    max-width: 1200px;
}
.strongMessage, .mainMessage{
    max-width: 600px;
}