h1{
    font-size: 40px;
    font-family: sans-serif;
    color: white;
    font-weight: bold;
}
header{
    background-image: url("./sierra1.jpg");
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
section{
    height: 90vh;
}
.strongMessage{
    max-width: 600px;
}